# Bootstrap
app/bootstrap*

# Composer
composer.phar

# Netbeans
nbproject

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Mac files
.DS_Store

# SASS CACHE
.sass-cache