// per attivare, da terminale:
// con supporto per firesass
// sass --watch --debug-info scss:css --style expanded
// senza supporto firesass
// sass --watch scss:css --style expanded

@import "variables.scss";

header{
	background:url('#{$img_source_url}/header_pattern.png') repeat 0 0 #111;
	height:70px;

	#header-inner{
		width:960px;
		margin:0 auto;

		#website-logo{
			margin:0;
			padding:0;
			white-space:nowrap;
			overflow:hidden;
			text-indent:100%;
			float:left;
			width:200px;
			height:70px;
			background:url('#{$img_source_url}/website_logo.png') no-repeat 0 0 transparent;
			}

		nav{
			float: right;
			width:482px;

			// Reset inner elements
			ul,li,a{
				white-space:nowrap;
				overflow:hidden;
				text-indent:100%;
				margin:0;
				padding:0;
				border:0;
				outline:0;
				}

			ul{background:url('#{$img_source_url}/main_nav_bg_search.png') no-repeat 440px 0 transparent;}

			li{
				float: left;
				width:131px;
				position: relative;
				margin:0 -43px 0 0;
				overflow:hidden;
				background:#FFF;
				background:url('#{$img_source_url}/main_nav_bg_normal.png') no-repeat 0 0 transparent;

				// Background classes
				&.nav-item_search-bg{background-image:url('#{$img_source_url}/main_nav_bg_search.png');}
				&.nav-item_location-bg{background-image:url('#{$img_source_url}/main_nav_bg_location.png');}
				&.nav-item_flood-bg{background-image:url('#{$img_source_url}/main_nav_bg_flood.png');}
				&.nav-item_quake-bg{background-image:url('#{$img_source_url}/main_nav_bg_quake.png');}
				&.nav-item_fire-bg{background-image:url('#{$img_source_url}/main_nav_bg_fire.png');}
				a{
					display: block;
					float: left;
					height:70px;
					}
				}//END: li
			}//END: nav
		}//END: header-inner
	}//END: header