// variables

// colors
$link-out-color: #9f9f9f;
$link-hover-color: #000000;
$text-color: #ff6565;
$border-color: #868686;

// font properties
$font-family: 'Bitter', Courier, Monaco, serif;
$font-size: 12px;

// path
$img_source_url: '/img';

// page elements dimensions
$header-height: 70px;

//configuration map
$map_width: 100%;
$map_height: 450px;

$map_font-family: 'Quicksand', sans-serif;