header {
  background: url("../img/header_pattern.png") repeat 0 0 #111111;
  height: 70px; }
  header #header-inner {
    width: 960px;
    margin: 0 auto; }
    header #header-inner #website-logo {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-indent: 100%;
      float: left;
      width: 200px;
      height: 70px;
      background: url("../img/website_logo.png") no-repeat 0 0 transparent; }
    header #header-inner nav {
      float: right;
      width: 482px; }
      header #header-inner nav ul, header #header-inner nav li, header #header-inner nav a {
        white-space: nowrap;
        overflow: hidden;
        text-indent: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0; }
      header #header-inner nav ul {
        background: url("../img/main_nav_bg_search.png") no-repeat 440px 0 transparent; }
      header #header-inner nav li {
        float: left;
        width: 131px;
        position: relative;
        margin: 0 -43px 0 0;
        overflow: hidden;
        background: #FFF;
        background: url("../img/main_nav_bg_normal.png") no-repeat 0 0 transparent; }
        header #header-inner nav li.nav-item_search-bg {
          background-image: url("../img/main_nav_bg_search.png"); }
        header #header-inner nav li.nav-item_location-bg {
          background-image: url("../img/main_nav_bg_location.png"); }
        header #header-inner nav li.nav-item_flood-bg {
          background-image: url("../img/main_nav_bg_flood.png"); }
        header #header-inner nav li.nav-item_quake-bg {
          background-image: url("../img/main_nav_bg_quake.png"); }
        header #header-inner nav li.nav-item_fire-bg {
          background-image: url("../img/main_nav_bg_fire.png"); }
        header #header-inner nav li a {
          display: block;
          float: left;
          height: 70px; }
