<h3>Contribuisci anche tu!</h3>
<section id="people" class="help-section">
    <h4>Persone</h4>
    <dl class="obtained">
        <dt>Hanno già contribuito</dt>
        <dd>20</dd>
    </dl>
    <dl class="people-definition">
        <dt>infermieri</dt>
        <dd style="float:left">8</dd>
        <dd style="float:right">11</dd>
        <dt>dottori</dt>
        <dd style="float:left">5</dd>
        <dd style="float:right">1</dd>
        <dt>spalatori</dt>
        <dd style="float:left">5</dd>
        <dd style="float:right">5</dd>
        <dt>aiutanti</dt>
        <dd style="float:left">10</dd>
        <dd style="float:right">2</dd>
    </dl>
    <dl class="desired">
        <dt>Ce ne servono</dt>
        <dd>100</dd>
    </dl>

    <!-- METER ORIZZONTALE: impostare il valore percentuale in modo dinamico -->
    <div class="horizontal_meter_container people">
        <div class="horizontal_meter_value people" style="width: 50%">50%</div>
    </div>

</section>
<section id="money" class="help-section">
    <h4>Donazioni</h4>
    <dl class="obtained">
        <dt>Hanno già donato</dt>
        <dd>1200 <span>&euro;</span></dd>
    </dl>
    <dl class="money-definition">
        <dt>pasti da</dt>
        <dd style="float:left">100(5&euro;)</dd>
        <dd style="float:right">20(5&euro;)</dd>
        <dt>coperte da</dt>
        <dd style="float:left">100(10&euro;)</dd>
        <dd style="float:right">20(10&euro;)</dd>
        <dt>tenda da</dt>
        <dd style="float:left">10(100&euro;)</dd>
        <dd style="float:right">5(100&euro;)</dd>
    </dl>
    <dl class="desired">
        <dt>Ci servono</dt>
        <dd>2500 <span>&euro;</span></dd>
    </dl>

    <div class="vertical_meter">
        <!-- METER VERTICALE: impostare il valore percentuale in modo dinamico -->
        <div class="vertical_meter_container">
            <div class="vertical_meter_value" style="height: 25%">25%</div>
        </div>
        <!--Inject the value into the inline-style-->
        <p class="we-rised-text" style="bottom:25%">
            Abbiamo raccolto<br />
            <strong>2.000&euro;</strong>
        </p>
    </div>

</section>
<section id="materials" class="help-section">
    <h4>Materiali</h4>
    <div class="obtained">
        <div class="percentage-light" data-percent="60">
            <div class="materiale">Vestiti</div>
            <span>60 %</span>
        </div>
    </div>

    <div class="obtained">
        <div class="percentage-light" data-percent="20">
            <div class="materiale">Pentole</div>
            <span>30 %</span>
        </div>
    </div>

    <div class="desired">
        <div class="percentage-light" data-percent="90">
            <div class="materiale">Secchi</div>
            <span>90 %</span>
        </div>
    </div>
</section>